# Node.js (backend)
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Logs
logs
*.log
logs/*

# Dependency directories
backend/node_modules/
backend/jspm_packages/

# Optional npm cache directory
backend/.npm

# Optional eslint cache
backend/.eslintcache

# Optional REPL history
backend/.node_repl_history

# Output of 'npm pack'
backend/*.tgz

# dotenv environment variables file
backend/.env

# Angular (frontend)
f1charts-SPA/.angular/
f1charts-SPA/dist/
f1charts-SPA/out-tsc/
f1charts-SPA/tmp/
!f1charts-SPA/src/assets/images/.gitkeep

# Angular specific
f1charts-SPA/.angular/cache/
f1charts-SPA/.angular/coverage/
f1charts-SPA/.angular/analytics/

# Compiled output
f1charts-SPA/dist/
f1charts-SPA/tmp/
f1charts-SPA/out-tsc/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db

# Optional OS files
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
